* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  font-size: 10px;
}

body {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1424;
  padding: 30px;
  overflow-x: hidden;
}

p {
  font-family: "Rubik", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
}

img {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: -1;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "main-grid" "work" "play" "study" "exercise" "social" "self-care";
}
.grid:first-child {
  row-gap: 30px;
}

.main-grid-container {
  width: 300px;
  height: 200px;
  background-color: #1c1f4a;
  border-radius: 15px;
  grid-area: main-grid;
}

.reporter-container {
  width: 100%;
  height: 65%;
  background-color: #5847eb;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.reporter-container .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #bdc1ff;
  background-image: url("../../../public/images/image-jeremy.png");
  background-size: cover;
  background-position: center;
}
.reporter-container .reporter-txt p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #6f76c8;
}
.reporter-container .reporter-txt p:last-child {
  font-size: 2.1rem;
  font-weight: 300;
  color: #bdc1ff;
}

.timeframe {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: 15px;
}
.timeframe p {
  color: #6f76c8;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.2s ease;
  cursor: pointer;
}

#daily {
  color: #bdc1ff;
}

#weekly {
  color: #6f76c8;
}

#monthly {
  color: #6f76c8;
}

.work {
  width: 300px;
  height: 150px;
  background-color: #ff8c66;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: -100;
  grid-area: work;
}

.play {
  width: 300px;
  height: 150px;
  background-color: #56c2e6;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: -100;
  grid-area: play;
}

.study {
  width: 300px;
  height: 150px;
  background-color: #ff5c7c;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: -100;
  grid-area: study;
}

.exercise {
  width: 300px;
  height: 150px;
  background-color: #4acf81;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: -100;
  grid-area: exercise;
}

.social {
  width: 300px;
  height: 150px;
  background-color: #7536d3;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: -100;
  grid-area: social;
}

.self-care {
  width: 300px;
  height: 150px;
  background-color: #f1c65b;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: -100;
  grid-area: self-care;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 1000;
  padding: 20px;
  bottom: 0;
}

.current-time h2 {
  color: #bdc1ff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.current-time p {
  color: #bdc1ff;
  font-size: 3rem;
  font-weight: 300;
}

.previous-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
}
.previous-time img {
  position: relative;
  right: 0;
}
.previous-time p {
  color: #6f76c8;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
