// Primary color
$primary-clr-one: hsl(246, 80%, 60%);
$primary-clr-two: hsl(15, 100%, 70%); //work
$primary-clr-three: hsl(195, 74%, 62%); //play
$primary-clr-four: hsl(348, 100%, 68%); //study
$primary-clr-five: hsl(145, 58%, 55%); //exercise
$primary-clr-six: hsl(264, 64%, 52%); //social
$primary-clr-seven: hsl(43, 84%, 65%); //self care

// Neutral color
$neutral-clr-one: hsl(226, 43%, 10%);
$neutral-clr-two: hsl(235, 46%, 20%);
$neutral-clr-three: hsl(235, 45%, 61%);
$neutral-clr-four: hsl(236, 100%, 87%);

// Hover color
$hover-clr: #30357c;

// Font family
$primary-font: 'Rubik', sans-serif;