// Import scss module
@import "./variables";
@import "./mixins";
// End Import scss module

// Reset css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
// End Reset css

// General style
:root{
    font-size: 10px;
}

body{
    max-width: 100vw;
    @include flexCenter;
    background-color: $neutral-clr-one;
    padding: 30px;
    overflow-x: hidden;
}

p{
    font-family: $primary-font;
}

a{
    font-family: $primary-font;
}

img{
    position: absolute;
    right: 0;
    top: -5px;
    // z-index: -1;
}

// End General style

// Main
.container{
    width: 100%;
    height: 100%;
    @include flexCenter;
    flex-direction: column;
    row-gap: 30px;
}

.main-grid-container{
    width: 300px;
    height: 200px;
    background-color: $neutral-clr-two;
    border-radius: 15px;
    grid-area: main-grid;
}

.reporter-container{
    width: 100%;
    height: 65%;
    background-color: $primary-clr-one;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    column-gap: 15px;

    .avatar{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $neutral-clr-five;
        background-image: url("../../../public/images/image-jeremy.png");
        background-size: cover;
        background-position: center;
    }

    .reporter-txt{
        p{
            font-size: 1.4rem;
            font-weight: 400;
            color: $neutral-clr-four;
            &:last-child{
                font-size: 2.1rem;
                font-weight: 300;
                color: $neutral-clr-five;
            }
        }
    }
}

.timeframe{
    width: 100%;
    height: 35%;
    @include flexBetween;  
    padding: 0 30px;
    border-radius: 15px;

    p{
        color: $neutral-clr-three;
        font-size: 1.5rem;
        text-align: center;
        transition: 0.2s ease;
        cursor: pointer;
    }
}

#daily{
    &:hover{
        color: $neutral-clr-five;
    }
}

#daily.active{
    color: $neutral-clr-five;
}

#weekly{
    color: $neutral-clr-three;
    &:hover{
        color: $neutral-clr-five;
    }
}

#weekly.active{
    color: $neutral-clr-five;
}

#monthly{
    color: $neutral-clr-three;
    &:hover{
        color: $neutral-clr-five;
    }
}

#monthly.active{
    color: $neutral-clr-five;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "self-care"
    ;
    row-gap: 30px
}

.work{
    @include gridItemsSmall($primary-clr-two);
    grid-area: work;
}

.play{
    @include gridItemsSmall($primary-clr-three);
    grid-area: play;
}

.study{
    @include gridItemsSmall($primary-clr-four);
    grid-area: study;
}

.exercise{
    @include gridItemsSmall($primary-clr-five);
    grid-area: exercise;
}

.social{
    @include gridItemsSmall($primary-clr-six);
    grid-area: social;
}

.self-care{
    @include gridItemsSmall($primary-clr-seven);
    grid-area: self-care;
}

.item-container{
    position: absolute;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $neutral-clr-two;
    border-radius: 15px;
    padding: 20px;
    bottom: 0;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover{
        background-color: $hover-clr;
    }
}

.item-container.disabled{
    &:hover{
        background-color: $neutral-clr-two;
    }
}

.item-top{
    @include flexBetween;
    h2{
        color: $neutral-clr-five;
        font-family: $primary-font;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 5px;
    }

    img{
        position: unset;
        right: unset;
        top: unset;
        z-index: 1000;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(6deg) brightness(100%) contrast(106%);   
        transition: 0.2s ease; 
        padding: 5px;

        &:hover{
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(6deg) brightness(170%) contrast(106%);    
        }
    }
}

.item-bottom{
    @include flexBetween;
    row-gap: 20px;

    p{
        color: $neutral-clr-five;
        font-size: 3rem;
        font-weight: 300;

        &:last-child{
            color: $neutral-clr-four;
            font-size: 1.4rem;
            }
        }
    }

// End Main

@media screen and (min-width: 1440px) {
    body{
        height: 100vh;
    }

    .container{
        width: 100%;
        max-width: 1200px;
        height: 600px;
        flex-direction: row;
        column-gap: 30px;
    }

    .main-grid-container{
        width: 280px;
        height: 550px;
    }

    .reporter-container{
        height: 70%;
        flex-direction: column;
        align-items: flex-start;

        .avatar{
            width: 90px;
            height: 90px;
            margin-bottom: 50px;
        }

        .reporter-txt{
            p{
                font-size: 1.7rem;

                &:last-child{
                    font-size: 4.5rem;
                }
            }
        }
    }

    .timeframe{
        height: 30%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        p{
            font-size: 1.7rem;
        }
    }

    .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "work play study"
        "exercise social self-care"
        ;
        column-gap: 30px;
    }

    .work{
        @include gridItemsLarge($primary-clr-two);
        grid-area: work;
    }
    
    .play{
        @include gridItemsLarge($primary-clr-three);
        grid-area: play;
    }
    
    .study{
        @include gridItemsLarge($primary-clr-four);
        grid-area: study;
    }
    
    .exercise{
        @include gridItemsLarge($primary-clr-five);
        grid-area: exercise;
    }
    
    .social{
        @include gridItemsLarge($primary-clr-six);
        grid-area: social;
    }
    
    .self-care{
        @include gridItemsLarge($primary-clr-seven);
        grid-area: self-care;
    }

    .item-container{
        height: 80%;
        row-gap: 30px;
    }

    .item-bottom{
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
        p{
            &:first-child{
                font-size: 5.5rem;
            }
        }
    }
}